:root {
    --background-color: #19181f;
    --button-normal-color: #67159c;
    --background-light: #1e1e26;
    --accent-color: #07d962;
    --secondary-color: #e82d92;
    --text-color: #ffffff;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

body{
    background-color: #333333;
    background-image: linear-gradient(62deg, var(--background-color) 0%, var(--button-normal-color) 100%);
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    flex: 1;
    background: #fff;
    box-shadow: 8px 8px 50px #000000;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    padding: 50px;
    width: 50%;
    margin-top: 8%;

}

p{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 16pt;
    display: block;
    margin: 1em;
}

h1{
    font-family: 'Archivo', sans-serif;

}

h3{
    padding-top: 15px;
}

input[type="text"]{
    padding: 15px;
    width: 100%;

    border: 2px solid var(--background-color);
  font: 300 1.2rem sans-serif;
  color: white;
  border-radius: 0.2rem;
  background: var(--background-color);

  outline: none;

}

input[type="text"]::placeholder{
    font-family: 'Archivo', sans-serif;
    color: rgba(0, 0, 0, 0.452);
}


input[type="button"]{
    transition: 300ms;

  margin: 0.4rem;
  padding: 15px;


  width: 100%;

  font: 700 0.8rem 'Archivo';
  text-transform: uppercase;

  background: var(--button-normal-color);
  color: white;

  border-radius: 0.2rem;
  border: 2px solid var(--button-normal-color);
}

input[type="button"]:hover{
    cursor: pointer;
  transition: 300ms;

  background: var(--background-color);
  border: 2px solid var(--button-normal-color);
}
